@model IEnumerable<FeatureController.Features.Foo.ViewModels.FooListViewModel>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.MyFoo)</th>
            <th>@Html.DisplayNameFor(x => x.MyF00)</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => m.MyFoo)</td>
                <td>@Html.DisplayFor(_ => m.MyF00)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = m.MyF00 })</td>
            </tr>
        }
    </tbody>
</table>
